.taskCard {
  width: 100%;
  max-width: 300px;
  gap: 1rem;
  padding: 16px;
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.badgeContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.divider {
  width: calc(100% + 32px);
  height: 1px;
  background: oklch(from var(--border) l c h / 0.5);
  margin-left: -16px;
  margin-right: -16px;
  margin-top: auto;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: oklch(from var(--muted-foreground) l c h / 0.6);
  font-size: 12px;
}

.footerLeftGroup {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.footerItem {
  display: flex;
  justify-content: flex-center;
  align-items: center;
  gap: 4px;
  height: 14px;
  line-height: 14px;
}
.tomorrowText {
  color: var(--warning-foreground);
}

.taskFooter {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

.destructiveMenuItem {
  color: var(--destructive);
  isolation: isolate;
}

.destructiveMenuItem svg {
  color: var(--destructive);
}

.destructiveMenuItem::before {
  content: "";
  position: absolute;
  inset: 0 4px;
  border-radius: 0.3rem;
  background-color: transparent;
  z-index: -1;
}

.destructiveMenuItem:hover::before {
  background-color: var(--destructive);
}

.destructiveMenuItem:hover {
  color: var(--destructive-foreground);
}

.destructiveMenuItem:hover svg {
  color: var(--destructive-foreground);
}

@media (max-width: 1280px) {
  .taskCard {
    min-height: auto;
  }
}

.alertContent {
  width: clamp(250px, 90vw, 400px);
  max-height: 300px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}

@media (max-width: 640px) {
  .alertContent {
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, -50%) !important;
  }
}

.alertDescription {
  color: var(--muted-foreground);
}

.alertFooter {
  margin-top: 32px;
  display: flex;
  gap: 12px;
}

.alertFooter > * {
  flex: 1;
}
