.dialogBox {
  border-radius: 12px;
  padding: 1.5rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--mix-card-33-bg);
  box-shadow:
    0 0.753698px 0.452219px -0.583333px #0000000f,
    0 1.927px 1.1562px -1.16667px #0000000d,
    0 3.86321px 2.31793px -1.75px #0000000d,
    0 7.32331px 4.39398px -2.33333px #0000000d,
    0 14.5565px 8.73393px -2.91667px #0000000a,
    0 32px 19.2px -3.5px #00000005;
}

.title {
  border-bottom: none;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.description {
  margin: 0;
  font-size: 0.925rem;
  color: var(--muted-foreground);
  line-height: 1.5;
}

.actions {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin-top: 8px;
}
