.content {
  width: clamp(250px, 90vw, 400px);
  max-height: 300px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}

@media (max-width: 640px) {
  .content {
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, -50%) !important;
  }
}

.description {
  color: var(--muted-foreground);
}

.footer {
  margin-top: 32px;
  display: flex;
  gap: 12px;
}

.footer > * {
  flex: 1;
}
