.root {
  border: none;
  background-color: oklch(from var(--border) l c h / 0.7);

  &[data-orientation="horizontal"] {
    height: 0.5px;
    width: 100%;
  }

  &[data-orientation="vertical"] {
    width: 0.5px;
    height: 100%;
  }
}
