.container {
  border-radius: var(--radius);
  border: 1px solid var(--border);
  overflow: hidden;
}

.preview {
  position: relative;
  min-height: 450px;
  display: grid;
  place-items: start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  border-bottom: 1px solid var(--border);
}

.preview.center {
  place-items: center;
}

.preview.start {
  place-items: start;
}

.preview.end {
  place-items: end;
}

@media (max-width: 640px) {
  .preview {
    padding: 1rem;
  }
}

.chartPreview {
  min-height: 350px;
}

.description {
  border-top: 1px solid var(--border);
  background-color: var(--muted);
  padding: 1rem;
}

.descriptionText {
  font-size: 0.875rem;
  color: var(--muted-foreground);
  margin: 0;
}

.errorMessage {
  font-size: 0.875rem;
  color: var(--muted-foreground);
}

.errorCode {
  background-color: var(--muted);
  padding: 0.375rem 0.375rem;
  border-radius: var(--radius);
  font-size: 0.875rem;
}
