.root {
  display: inline-block;
}

.trigger:focus-visible {
  outline: 2px solid var(--ring);
  outline-offset: 2px;
}

.trigger[data-popup-open] {
  background-color: var(--muted);
  color: var(--foreground);
}

.trigger[data-disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.positioner {
  z-index: 150;
  position: absolute;
  left: 0;
}

.popup {
  min-width: 170px;
  border: 0.5px solid oklch(from var(--border) l c h / 0.6);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  box-shadow:
    lch(0 0 0 / 0.188) 0px 3px 8px,
    lch(0 0 0 / 0.188) 0px 2px 5px,
    lch(0 0 0 / 0.188) 0px 1px 1px;
  transform-origin: "top center";
  transition:
    transform 250ms var(--ease-out-expo),
    opacity 250ms var(--ease-out-expo);
}
.popup[data-starting-style],
.popup[data-ending-style] {
  opacity: 0;
  transform: scale(0.95);
}

.seperatorWrapper {
  padding: 5px 0;
}

.separator {
  height: 1px;
  border-bottom: 0.5px solid oklch(from var(--border) l c h / 0.6);
}

.submenuTrigger,
.item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-inline: 8px 6px;
  font-weight: 400;
  height: 32px;
  font-size: 0.875rem;
  line-height: 1.2;
  color: var(--secondary-foreground);
  cursor: pointer;
  border-radius: 0.3rem;
  justify-content: flex-start;
  margin: 0rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0 4px;
    border-radius: 0.3rem;
    background-color: transparent;
    transition: background-color 150ms;
    z-index: -1;
  }

  &[data-popup-open]::before {
    background-color: oklch(from var(--muted) l c h / 0.6);
  }

  &[data-highlighted]::before {
    background-color: oklch(from var(--muted) l c h / 0.6);
  }

  &[data-popup-open] {
    color: var(--foreground);
  }

  &[data-highlighted] {
    color: var(--foreground);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--muted-foreground);
  margin-left: 4px;
}

.item:hover > .icon {
  color: var(--secondary-foreground);
}

.submenuTrigger:hover::before,
.item:hover::before {
  background-color: var(--muted);
}

.submenuTrigger:hover,
.item:hover {
  color: var(--foreground);
}

.item:hover .icon {
  opacity: 1;
}

.item:focus::before {
  background-color: var(--muted);
}

.item:focus {
  outline: none;
  color: var(--foreground);
}

.item[data-disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.item[data-disabled]:hover {
  background: transparent;
  color: var(--foreground);
}

.arrow {
  fill: var(--background);
  stroke: var(--border);
  stroke-width: 1px;
}
