.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 0.5px solid oklch(from var(--border) l c h / 0.7);

  margin: 0 auto;
}

.docsContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "content";
  min-height: calc(100vh - var(--header-height));
  position: relative;
}

.docsContainer::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 50%;
  transform: translateX(calc(1440px / 2));
  width: 0.5px;
  border-right: 0.5px solid oklch(from var(--border) l c h / 0.7);
  z-index: 100;
}

@media (min-width: 1024px) {
  .docsContainer {
    grid-template-columns: 240px 1fr;
    grid-template-areas: "sidebar content";
  }
}

.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  display: none;
}

.sidebar::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 50%;
  transform: translateX(calc(-1440px / 2));
  width: 0.5px;
  border-right: 0.5px solid oklch(from var(--border) l c h / 0.7);
  z-index: -1;
}

@media (min-width: 1024px) {
  .sidebar {
    display: block;
  }
}

.content {
  grid-area: content;
  min-width: 0;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

@media (max-width: 640px) {
  .content {
    padding: 3rem 1rem 1rem 1rem;
  }
}
