.trigger {
  @media (hover: hover) {
    &:hover:not([data-popup-open]) {
      background-color: var(--accent);
    }
  }

  &:active:not([data-popup-open]) {
    background-color: var(--accent);
  }

  &[data-popup-open] {
    background-color: var(--accent);
  }

  &:focus-visible {
    outline: 2px solid var(--ring);
    outline-offset: -1px;
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: oklch(0 0 0 / 0.1);
  z-index: 998;
}

.positioner {
  position: absolute;
  z-index: 999;
}

.popup {
  position: relative;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  background-color: var(--popover);
  color: var(--popover-foreground);
  transform-origin: var(--transform-origin);
  transition:
    transform 250ms var(--ease-out-expo),
    opacity 250ms var(--ease-out-expo);
  outline: 0.5px solid oklch(from var(--border) l c h / 0.8);
  box-shadow:
    oklch(from var(--border) l c h / 0.2) 0px 0.5px 0.5px,
    oklch(from var(--border) l c h / 0.2) 0px 0.5px 0.5px,
    oklch(from var(--border) l c h / 0.2) 0px 0.5px 0.5px;
  z-index: 1000;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  &:focus-visible {
    outline: 1px solid var(--ring);
    outline-offset: 1px;
  }

  @media (max-width: 640px) {
    max-width: calc(100vw - 2rem);
    margin: 1rem;
  }
}

.arrow {
  display: flex;

  &[data-side="top"] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side="bottom"] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side="left"] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side="right"] {
    left: -13px;
    rotate: -90deg;
  }

  & svg {
    fill: var(--popover);
    stroke: var(--border);
    stroke-width: 1px;
  }
}

.title {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--popover-foreground);
}

.description {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--muted-foreground);
}

.close {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  border-radius: var(--radius);
  cursor: pointer;
  color: var(--muted-foreground);
  transition:
    background-color 150ms ease,
    color 150ms ease;

  &:hover {
    background-color: var(--muted);
    color: var(--foreground);
  }

  &:focus-visible {
    outline: 2px solid var(--ring);
    outline-offset: 2px;
  }

  & svg {
    width: 1rem;
    height: 1rem;
  }
}

.actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-top: 1rem;
}

:global([data-theme="dark"]) .popup {
  outline: 0.5px solid oklch(from var(--border) l c h / 0.8);
  outline-offset: -1px;
}
