@keyframes spinner-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.spinner,
.spinner div,
.spinner div::after {
  box-sizing: border-box;
}

.spinner {
  color: var(--color-muted-foreground);
  display: inline-block;
  position: relative;
}

.spinner div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  animation: spinner-fade 0.8s linear infinite;
}

.spinner div::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - 0.5px);
  width: 1.5px;
  height: 25%;
  border-radius: 20%;
  background: currentColor;
}

.spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.73s;
}
.spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.67s;
}
.spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.6s;
}
.spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.53s;
}
.spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.47s;
}
.spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.4s;
}
.spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.33s;
}
.spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.27s;
}
.spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.2s;
}
.spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.13s;
}
.spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.07s;
}
.spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
