.container {
  padding: 2rem;

  @media (max-width: 640px) {
    padding: 1rem;
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 17.5px;
  font-weight: 500;
  color: var(--foreground);
  margin-bottom: 0.5rem;
  margin-left: 4px;

  @media (max-width: 640px) {
    font-size: 0.9375rem;
  }
}

input.input {
  width: 360px;

  @media (max-width: 640px) {
    width: 100%;
  }
}
