.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  &[data-indeterminate] .indicator {
    width: 40%;
    animation: indeterminate 2s infinite linear;
  }
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
  color: var(--foreground);
}

.value {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.4;
  color: var(--muted-foreground);
}

.track {
  position: relative;
  height: 0.5rem;
  width: 100%;
  background-color: var(--mix-card-75-bg);
  border-radius: 0;
  overflow: hidden;
}

.indicator {
  height: 100%;
  background-color: var(--primary);
  border-radius: 0;
  transition: all 150ms ease-out;
  width: var(--progress-indicator-width);
}

@keyframes indeterminate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(250%);
  }
}
