.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 0.3125rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;

  &[data-unchecked] {
    border: 1px solid oklch(from var(--border) l c h / 0.8);
    background-color: transparent;
  }

  &[data-checked],
  &[data-indeterminate] {
    border: 1px solid var(--border);
    background-color: var(--primary);
  }

  &:focus-visible {
    outline: 1px solid var(--ring);
    outline-offset: 1px;
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--primary-foreground);

  & > svg {
    width: 16px;
    height: 16px;
  }

  &[data-unchecked]:not([data-indeterminate]) {
    display: none;
  }
}
