.container {
  padding: 2rem;

  @media (max-width: 640px) {
    padding: 1rem;
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 17.5px;
  font-weight: 500;
  color: var(--foreground);
  margin-bottom: 0.5rem;
  margin-left: 4px;

  @media (max-width: 640px) {
    font-size: 0.9375rem;
  }
}

.input {
  width: 300px;

  @media (max-width: 640px) {
    width: 100%;
  }
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;

  @media (max-width: 640px) {
    gap: 0.75rem;
  }
}

.avatar {
  width: 1.5rem;
  height: 1.5rem;

  @media (max-width: 640px) {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.userInfo {
  text-align: left;
}

.userName {
  font-size: 0.875rem;
  font-weight: 500;

  @media (max-width: 640px) {
    font-size: 0.9375rem;
  }
}

.userEmail {
  font-size: 0.75rem;
  color: var(--muted-foreground);

  @media (max-width: 640px) {
    font-size: 0.8125rem;
  }
}
