.triggerContent {
  display: flex;
  align-items: center;
}

.deleteItem {
  color: var(--destructive);
  isolation: isolate;
}

.deleteItem svg {
  color: var(--destructive);
}

.deleteItem::before {
  content: "";
  position: absolute;
  inset: 0 4px;
  border-radius: 0.3rem;
  background-color: transparent;
  z-index: -1;
}

.deleteItem:hover::before {
  background-color: var(--destructive);
}

.deleteItem:hover {
  color: var(--destructive-foreground);
}

.deleteItem:hover svg {
  color: var(--destructive-foreground);
}
