.container {
  max-width: 24rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  cursor: pointer;
}
