.container {
  max-width: 24rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.radioItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.label {
  font-size: 0.875rem;
  cursor: pointer;
}
