.contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.badgeContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


.divider {
    width: calc(100% + 3rem);
    height: 1px;
    background: var(--border);
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--muted-foreground);
    font-size: 0.75rem;
}

.footerItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.tomorrowText {
    color: var(--warning-foreground);
}
