.card {
  width: 400px;
  padding: 20px;
  border: 1px solid var(--border-dark);
  border-radius: var(--radius-lg);
}

.cardTitle {
  margin-left: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  cursor: pointer;
  font-weight: 300;
  margin-left: 4px;
  margin-top: 0.5rem;
}

.button {
  width: 100%;
}

.emailField {
  padding-bottom: 4px;
}

.fieldLabel {
  margin-left: 4px;
}

.passwordLabelRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.forgotPassword {
  background: none;
  border: none;
  padding: 0;
  font-size: 0.875rem;
  color: var(--secondary-foreground);
  cursor: pointer;
  transition: color 0.2s;
  margin-right: 4px;
  font-weight: 300;
}

.forgotPassword:hover {
  color: var(--foreground);
}

.rememberMe {
  color: var(--secondary-foreground);
}
.rememberMe:hover {
  color: var(--foreground);
}
.signupBanner {
  width: calc(100% + 40px);

  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  text-align: center;
  font-size: 0.875rem;
  padding: 1.25rem 0;
  background-color: color-mix(in oklch, var(--card) 33%, transparent);

  border-radius: 0 0 var(--radius-lg) var(--radius-lg);
}

.signupText {
  color: var(--muted-foreground);
}

.signupLink {
  color: var(--secondary-foreground);
  cursor: pointer;
}
