.container {
  width: 300px;
  min-height: 360px;
  margin-top: -30px;
}

.cardExpanded {
  background-color: var(--mix-card-33-bg);
  padding: 12px;
  width: 260px;
  overflow: hidden;
  box-shadow:
    0 0.753698px 0.452219px -0.583333px #0000000f,
    0 1.927px 1.1562px -1.16667px #0000000d,
    0 3.86321px 2.31793px -1.75px #0000000d,
    0 7.32331px 4.39398px -2.33333px #0000000d,
    0 14.5565px 8.73393px -2.91667px #0000000a,
    0 32px 19.2px -3.5px #00000005;
}

.imageExpanded {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 12px;
}

.wrapperExpanded {
  padding-left: 8px;
}

.titleExpanded {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

.description {
  font-size: 12px;
  color: var(--muted-foreground);
  margin-top: 0px;
  margin-bottom: 12px;
  will-change: transform;
}

.descriptionExpanded {
  font-size: 14px;
}

.longDescription {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 12px 0;
  color: var(--secondary-foreground);
}

.cardCollapsed {
  background-color: var(--mix-card-33-bg);
  width: 260px;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  box-shadow:
    0 0.753698px 0.452219px -0.583333px #0000000f,
    0 1.927px 1.1562px -1.16667px #0000000d,
    0 3.86321px 2.31793px -1.75px #0000000d,
    0 7.32331px 4.39398px -2.33333px #0000000d,
    0 14.5565px 8.73393px -2.91667px #0000000a,
    0 32px 19.2px -3.5px #00000005;
}

.imageCollapsed {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.wrapperCollapsed {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 12px;
}

.titleCollapsed {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
