.button {
  position: relative;
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  background-color: color-mix(in oklch, var(--card) 33%, var(--background));
  cursor: pointer;
  color: var(--secondary-foreground);
}
.button:hover {
  background-color: var(--card);
  transition: 150ms ease-out;
}

.positioner {
  z-index: 150;
}

.popup {
  position: absolute;
  right: 0;
  bottom: calc(25% + 8px);
  width: 170px;
  overflow: hidden;
  background-color: color-mix(in oklch, var(--card) 33%, var(--background));
  border: 1px solid var(--border);
  padding: 4px;
  outline: none;
  z-index: 150;
}

.popup ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popup ul li {
  margin: 0;
  padding: 0;
}

.iconPlaceholder {
  position: absolute;
  top: 8;
  right: 8;
}

.menuItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 8px 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--secondary-foreground);
  font-size: 12px;
  border-radius: 0.5rem;
  transition: background-color 0.15s ease;
  letter-spacing: -0.01em;
}

@media (max-width: 768px) {
  .menuItem {
    padding: 6px 8px;
  }

  .separator {
    margin: 2px -6px;
  }
}


.menuItem svg {
  color: oklch(from var(--secondary-foreground) l c h / 0.8);
}

.menuItem:hover {
  background-color: var(--card) !important;
}

.menuItem:active {
  transform: scale(0.98);
}

.separator {
  height: 1px;
  background-color: var(--border);
  margin: 4px -6px;
}
