.menuItemContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.shortcut {
  color: var(--muted-foreground);
  font-size: 0.6875rem;
}

@media (max-width: 640px) {
  .shortcut {
    font-size: 0.8125rem;
  }
}
