.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.75rem;
  height: 26px;
  border-radius: var(--radius-lg);
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 0.8s cubic-bezier(0.19, 1, 0.22, 1) 1.4s forwards;
  transition: all 0.2s ease;
}

.badge:hover {
  background-color: var(--accent);
}

.badge svg {
  width: 14px;
  height: 12px;
  overflow: visible;
  transition: transform 150ms ease-in-out;
}

.badge svg path:first-child {
  transition: all 150ms ease-in;
  transform: translateX(0);
}

.badge svg path:last-child {
  transition: all 150ms ease-in;
  opacity: 0;
  transform: translateX(0);
}

.badge:hover svg path:first-child {
  transform: translateX(2px);
}

.badge:hover svg path:last-child {
  opacity: 1;
  transform: translateX(-1px);
}

.h1 {
  font-size: clamp(28px, 4vw + 1rem, 48px);
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 1.1;
}

.wordContainer {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.wordWrapper {
  display: inline-block;
  animation: reveal 1.3s cubic-bezier(0.19, 1, 0.22, 1) backwards;
  animation-delay: calc(0.25s + 0.03s * var(--index));
  white-space: pre;
}

.container {
  text-align: left;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.subheading {
  font-size: 16px;
  font-weight: 400;
  color: var(--muted-foreground);
  margin-top: 16px;
  opacity: 0;
  animation: fadeIn 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0.75s forwards;
}

.buttonWrapper {
  margin-top: 32px;
  opacity: 0;
  animation: fadeIn 0.8s cubic-bezier(0.19, 1, 0.22, 1) 1s forwards;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.buttonWrapper button {
  white-space: nowrap;
}

@keyframes reveal {
  from {
    transform: translateY(100%);
    opacity: 0.8;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
