.root {
  box-sizing: border-box;
  width: 24rem;
  height: 8.5rem;
  max-width: calc(100vw - 8rem);
}

.viewport {
  height: 100%;
  border-radius: 0.375rem;
  outline: 1px solid var(--border);
  outline-offset: -1px;
  overscroll-behavior: contain;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.viewport::-webkit-scrollbar {
  display: none;
}

.viewport:focus-visible {
  outline: 2px solid var(--ring);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 0.75rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.scrollbar {
  display: flex;
  justify-content: center;
  background-color: var(--border);
  width: 0.25rem;
  border-radius: 0.375rem;
  margin: 0.5rem;
  opacity: 0;
  transition: opacity 150ms 300ms;
  touch-action: none;
  user-select: none;
}

.scrollbar[data-scrolling] {
  opacity: 1;
  transition-duration: 75ms;
  transition-delay: 0ms;
}

.scrollbar[data-hovering]:not([data-scrolling]) {
  opacity: 0;
}

.scrollbar::before {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: 100%;
}

.thumb {
  width: 100%;
  border-radius: inherit;
  background-color: var(--muted-foreground);
}

.corner {
  display: none;
}