.container {
  background-color: var(--code-header-bg);
}

.container pre {
  background-color: var(--code-header-bg) !important;
}

.embedded {
  margin-top: 0;
  margin-bottom: 0;
}

.codeContainer {
  max-height: 450px;
}

.noSourceText {
  font-size: 0.875rem;
  color: var(--muted-foreground);
}
