.container {
  background: linear-gradient(to bottom, var(--code-header-bg), var(--code-footer-bg));
}

.container pre {
  background: transparent;
}

.embedded {
  margin-top: 0;
  margin-bottom: 0;
}

.codeContainer {
  max-height: 450px;
}

.noSourceText {
  font-size: 0.875rem;
  color: var(--muted-foreground);
}
