.transactionItem {
  border-top: 1px solid oklch(from var(--border) l c h / 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  padding: 1.25rem 0.25rem 0.5rem 0.25rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.from {
  font-weight: 400;
  color: var(--foreground);
}

.date,
.amount {
  font-weight: 300;
  color: var(--muted-foreground);
}
