.popup {
  max-width: 410px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
}
