.popup {
  width: clamp(250px, 90vw, 400px);
  max-height: 400px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;

  @media (max-width: 640px) {
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, -50%) !important;
    max-height: 500px;
  }
}

.description {
  color: var(--muted-foreground);
}

.footer {
  margin-top: 32px;
  display: flex;
  gap: 12px;

  & > * {
    flex: 1;
  }
}
