.root {
  --box-shadow:
    0 0.753698px 0.452219px -0.583333px #0000000f,
    0 1.927px 1.1562px -1.16667px #0000000d,
    0 3.86321px 2.31793px -1.75px #0000000d,
    0 7.32331px 4.39398px -2.33333px #0000000d,
    0 14.5565px 8.73393px -2.91667px #0000000a,
    0 10px 19.2px -3.5px #00000005;
  position: relative;
  display: inline-flex;
  align-items: center;
  appearance: none;
  margin: 0;
  padding: 2px;
  width: 44px;
  height: 24px;
  border-radius: 12px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--mix-card-85-bg);
  border: 0.5px solid var(--border);

  &:hover {
    background-color: var(--muted-hover, var(--muted));
  }

  &[data-checked] {
    background-color: var(--success);
  }

  &:focus-visible {
    outline: 2px solid var(--ring);
    outline-offset: 2px;
  }

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: var(--muted);
    }

    &[data-checked]:hover {
      background-color: var(--primary);
    }
  }
}

.thumb {
  box-shadow: var(--box-shadow);
  border: 0.5px solid oklch(from var(--border) l c h / 0.2);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.2s var(--ease-in-out-quad);
  transform: translateX(0px);

  &[data-checked] {
    transform: translateX(20px);
  }
}
