.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  font-weight: 400;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  position: relative;
  overflow: hidden;

  background-color: var(--primary);
  color: var(--primary-foreground);

  height: 2.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.925rem;
}

.button:active:not(:disabled) {
  transform: scale(0.97);
}

.button:focus-visible {
  outline: 2px solid var(--ring);
  outline-offset: 2px;
}

.popup {
  border-radius: var(--radius-lg);
  padding: 1.5rem;
  border: 1px solid var(--border-dark);
  max-width: 400px;
}

.title {
  border-bottom: none;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

.description {
  margin: 0;
}

.actions {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}
