.icon {
  width: 2rem;
  height: 2rem;
}

.card {
  height: 280px;
  position: relative;
  padding: 1.5rem;
  padding-bottom: 4rem;
}

.cardTitle {
  margin-bottom: 12px;
}

.buttonContainer {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
}

.button {
  padding-left: 0 !important;
  margin-top: 8px;
}

.placeholder {
  height: 280px;
}