.container {
  border: 0.5px solid oklch(from var(--border) l c h / 0.7);
  overflow: hidden;
}

.trigger {
  border-radius: 0;
}

.tabsList {
  border-radius: 0;
  border: none;
  border-bottom: 0.5px solid oklch(from var(--border) l c h / 0.7);
  background-color: var(--code-header-bg);
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  min-height: 2.5rem;
  position: relative;
}

.tabsGroup {
  display: flex;
}

.rightGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Package manager command styling */
.container pre code span:first-child {
  color: var(--code-command-color) !important;
}

.container pre code span:not(:first-child) {
  color: var(--code-arg-color) !important;
}
