.wrapper {
  background: linear-gradient(to bottom, var(--code-header-bg), var(--code-footer-bg));
  overflow: hidden;
  border: 0.5px solid var(--border-subtle);
}

.wrapper pre {
  background: transparent;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 4px 2px 10px;
  border-bottom: 0.5px solid var(--border-subtle);
  background: transparent;
  gap: 0.5rem;
}

.header > span {
  font-size: 0.75rem;
  font-weight: 400;
  font-family:
    ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono",
    monospace;
  color: var(--muted-foreground);
}

.header [data-slot="tabs-list"] {
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.header [data-slot="tabs-trigger"] {
  border-radius: 2px;
  font-family:
    ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono",
    monospace;
  font-size: 12px;
  &:first-child {
    margin-right: 0;
  }
}

.header [data-slot="tabs-trigger"]:not([data-active]) {
  border: 1px solid transparent;
  background-color: oklch(from var(--foreground) l c h / 0.08);
  color: var(--muted-foreground);
}

.header [data-slot="tabs-trigger"]:not([data-active]):hover {
  color: var(--muted-foreground);
  background-color: oklch(from var(--foreground) l c h / 0.14);
}

.header [data-slot="tabs-trigger"][data-active] {
  color: var(--foreground);
  border: 1px solid var(--border);
}

.header [data-slot="copy-button"] {
  border-radius: 0;
}

.actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.separator {
  width: 1px;
  height: 16px;
  background-color: var(--border);
}

.content[data-slot="tabs-content"] {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
