.alert {
  position: relative;
  width: 100%;
  border-radius: var(--radius);
  border: 0.5px solid oklch(from var(--border) l c h / 0.8);
  padding: 0.75rem 1rem;
  display: grid;
  grid-template-columns: 0 1fr auto;
  gap: 0.125rem 0.75rem;
  align-items: start;
  font-size: 0.75rem;
  line-height: 1.2;
  background-color: var(--mix-card-33-bg);
  box-shadow:
    oklch(from var(--border) l c h / 0.2) 0px 1px 2px,
    oklch(from var(--border) l c h / 0.2) 0px 1px 2px,
    oklch(from var(--border) l c h / 0.2) 0px 1px 1px;
}

.alert:has(> svg) {
  grid-template-columns: 1rem 1fr auto;
}

.alert > svg {
  width: 1rem;
  height: 100%;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 0.875rem;
  grid-column-start: 2;
  letter-spacing: -0.02em;
  color: var(--secondary-foreground);
}

.description {
  margin: 0;
  font-weight: 300;
  font-size: 0.875rem;
  grid-column-start: 2;

  color: var(--muted-foreground);
}

.default {
  color: var(--foreground);
}

.destructive {
  color: var(--destructive);
}

.destructive .title {
  color: var(--destructive);
}

.destructive .description {
  color: var(--destructive);
}

.warning {
  color: var(--warning-foreground);
}

.warning .title {
  color: var(--warning-foreground);
}

.warning .description {
  color: var(--warning-foreground);
}

.success {
  color: var(--success);
}

.success .title {
  color: var(--success);
}

.success .description {
  color: var(--success);
}

.info {
  color: var(--info);
}

.info .title {
  color: var(--info);
}

.info .description {
  color: var(--info);
}

@media (max-width: 640px) {
  .alert {
    padding: 1rem;
    gap: 0.5rem 0.75rem;
    grid-template-columns: 1rem 1fr;
  }

  .alert:has(> svg) {
    grid-template-columns: 1rem 1fr;
  }

  .alert > svg {
    width: 1rem;
  }

  .title {
    font-size: 0.9375rem;
    font-weight: 500;
  }

  .description {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
