.alert {
  position: relative;
  width: 100%;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  padding: 0.75rem 1rem;
  display: grid;
  grid-template-columns: 0 1fr auto;
  gap: 0.125rem 0.75rem;
  align-items: start;
  font-size: 0.75rem;
  line-height: 1.2;
  background-color: color-mix(in oklch, var(--card) 33%, var(--background));
}

.alert:has(> svg) {
  grid-template-columns: 1rem 1fr auto;
}

.alert > svg {
  width: 1rem;
  height: 100%;
}

.default {
  color: var(--foreground);
}

.destructive {
  color: var(--destructive);
}

.destructive .title {
  color: var(--destructive);
}

.destructive .description {
  color: var(--destructive);
}

.warning {
  color: var(--warning);
}

.warning .title {
  color: var(--warning);
}

.warning .description {
  color: var(--warning);
}

.success {
  color: var(--success);
}

.success .title {
  color: var(--success);
}

.success .description {
  color: var(--success);
}

.info {
  color: var(--info);
}

.info .title {
  color: var(--info);
}

.info .description {
  color: var(--info);
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 0.875rem;
  grid-column-start: 2;
  letter-spacing: -0.02em;
}

.description {
  margin: 0;
  font-weight: 300;
  font-size: 0.875rem;
  grid-column-start: 2;

  color: var(--muted-foreground);
}
