.root {
    width: 32rem;
    max-width: calc(100vw-8rem);
    cursor: inherit;
}

.item {
    border-bottom: 1px solid var(--border);
}

.item:last-child {
    border-bottom: none;
}

.header {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    font-size: 0.85rem;
}

.trigger {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
    font-weight: 400;
    text-align: left;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--title);
    transition: padding 310ms ease;
}

.trigger:hover {
    color: var(--title-hover);
    text-decoration: underline solid;
    svg {
        color: var(--foreground);
    }
}

.trigger:focus {
    outline: none;
}

.trigger:focus-visible {
    outline: 2px solid var(--ring);
    outline-offset: 2px;
}

.trigger[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.trigger[data-disabled]:hover {
    background: transparent;
}

.chevron {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    transition: transform 310ms ease;
    color: var(--muted-foreground);
}

.trigger[data-panel-open] {
    padding-bottom: 0rem;
    transition: padding-bottom 310ms ease;
}

[data-panel-open] > .chevron {
    transform: rotate(180deg);
}

.panel {
    box-sizing: border-box;
    height: var(--accordion-panel-height);
    overflow: hidden;
    transition: height 310ms ease;
}

.panel[data-starting-style],
.panel[data-ending-style] {
    height: 0;
}

.content {
    padding: 0rem 0.75rem 1.25rem 0rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: var(--foreground);
    position: relative;
    transition: padding-top 310ms ease;
}

.panel[data-open] .content {
    padding-top: 1.25rem;
}

.panel[data-ending-style] .content {
    padding-top: 0rem;
}

.content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: var(--background);
    transition: height 310ms ease;
    pointer-events: none;
}

.panel[data-ending-style] .content::after {
    height: 100%;
}
