.root {
  width: 32rem;
  max-width: calc(100vw - 8rem);
  cursor: inherit;
  display: flex;
  flex-direction: column;
}

.item {
  border-bottom: 0.5px solid oklch(from var(--border) l c h / 0.8);
}

.item:last-child {
  border-bottom: none;
}

.header {
  margin: 0;
  letter-spacing: inherit;
  font-size: 0.875rem;
  font-weight: 500;
}

.trigger {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 41.5px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--secondary-foreground);

  @media (hover: hover) {
    &:hover {
      color: var(--foreground);

      svg {
        color: var(--foreground);
      }
    }
  }
  &:focus-visible {
    outline: 2px solid var(--ring);
    outline-offset: 2px;
    z-index: 1;
  }
}

.chevron {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  transition: transform 150ms ease;
  color: var(--muted-foreground);

  [data-panel-open] > & {
    transform: rotate(180deg);
  }
}

.panel {
  box-sizing: border-box;
  height: var(--accordion-panel-height);
  overflow: hidden;
  line-height: 1.4rem;
  transition: height 150ms var(--ease-out-expo);
  &[data-starting-style],
  &[data-ending-style] {
    height: 0;
  }
}

.content {
  padding: 0rem 0.75rem 1.25rem 0rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--secondary-foreground);
}
